<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514189502792-hp5vavak20q17m2cpqcegfpe9bp17q1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514189502792-hp5vavak20q17m2cpqcegfpe9bp17q1f</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Sv_0_3J86PzN0OEnw8sI_1NT2RwnijM</string>
	<key>GCM_SENDER_ID</key>
	<string>514189502792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natrix.natapp</string>
	<key>PROJECT_ID</key>
	<string>natapp-406aa</string>
	<key>STORAGE_BUCKET</key>
	<string>natapp-406aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514189502792:ios:e4a7c2e0da31f746acab7d</string>
</dict>
</plist>